<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{!-- MAKE A COMMENT SECTION FOR USERS TO COMMMENT ON THIS POST --}}

  {{!-- MAKE A {{#each}} WHICH IS A FOR LOOP TO SHOW ALL PREVIOUS COMMENTS --}}
</div>

<div class="comment-form">
  <h2>Comments</h2>
  {{!-- {{#each}}
  COMMENTS GO HERE
  {{/each}} --}}
  <input  placeholder="Comment..."/>
  <button class="commentBtn">Submit</button>
</div>
