header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.comment-form input{
  width: 80vw;
  height: 50px;
}

.comment-form button {
  height: 50px;
}

.comment-form button:hover {
  cursor: pointer;
}